*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: auto;
    min-height: 100vh;
    background-image: url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.search{
    width: 240px;
    height: 40px;
    background-color: gray;
}